.title{
    font-size: var(--fz-big);
    font-weight: var(--fw-bold);
    font-family: var(--ff);
    line-height: 80px;
    text-transform: uppercase;
    margin: 0;
    width: 45%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    align-self: stretch;
    gap:20px;
    margin: 20px;
}

@media  screen and (max-width: 1062px){
    .title{
        font-size: calc(var(--fz-big) / 1.3);
        line-height: calc(var(--fz-big) / 1.3);
    }
}
@media  screen and (max-width: 900px){
    .hero{
        flex-direction: column;
        align-items: flex-start;
    }
    .title{
        width: 100%;
    }
}
@media  screen and (max-width: 460px){
    .hero{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media  screen and (max-width: 410px){
   
    .title{
        font-size: calc(var(--fz-big) / 1.7);
        line-height: calc(var(--fz-big) / 1.7);
    }
}