@import url("box.css");
@import url("typography.css");

:root{
  --offset-base-size: 4px;

  --fz-small: 14px;
  --fz-big: 80px;

  --fw-bold: 700;
  --fw-regular: 400;

  --ff: 'Inter', sans-serif;

  --text-color: #000;
  --details-color: #bbb;
}

body {
  margin: 0;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}