@import url("box.css");
@import url("typography.css");

:root{
  --offset-base-size: 4px;

  --fs-small: 16px;
  --fs-regular: 24px;
  --fs-big: 80px;

  --fw-bold: 700;
  --fw-regular: 400;

  --ff: 'Inter', sans-serif;

  --text-color: #000;
  --details-color: #bbb;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap:20px;
}
.container{
  width: 100%;
  padding: 0 calc(var(--offset-base-size) * 5);
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.icon-menu{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: calc(var(--offset-base-size) * 5);
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  align-self: stretch;
  margin: calc(var(--offset-base-size) * 5) 0;
}

@media (max-width: 650px) {
  .container{
    padding: 0 calc(var(--offset-base-size) * 3);
  }
}