.title{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0;
    width: 45%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    box-sizing: border-box;
    margin: 20px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}