.button{
    color: var(--text-color);
    font-family: var(--ff);
    font-size: var(--fz-small);
    font-weight: var(--fw-regular);
    line-height: 14px; 
    text-transform: lowercase;
    border-radius: 30px;
    border: 1px solid var(--details-color);
    background: #fff;
    padding: 8px 16px;
    transition: all .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    
}
.button:hover{
    color: #FFF;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}